server:
  port: ${PORT:8080}

spring:
  datasource:
    url: postgresql://peacefulpagessanctuary_db_user:VYI6ey6ZFT4bdCILeiz5hj4NrHM8iCvQ@dpg-d6bloc6mcj7s73alsttg-a/peacefulpagessanctuary_db
    username: peacefulpagessanctuary_db_user
    password: VYI6ey6ZFT4bdCILeiz5hj4NrHM8iCvQ
    driver-class-name: org.postgresql.Driver
  jpa:
    hibernate:
      ddl-auto: validate
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
        format_sql: false
    open-in-view: false
  sql:
    init:
      mode: never

jwt:
  secret: VGhpc0lzQVNlY3VyZTI1NkJpdEtleUZvckRldlVzZU9ubHkxMjM0
  expiration: 86400000