server:
  port: ${PORT:8080}

spring:
  datasource:
    url: jdbc:postgresql://dpg-d6bloc6mcj7s73alsttg-a.singapore-postgres.render.com:5432/peacefulpagessanctuary_db?sslmode=require
    username: peacefulpagessanctuary_db_user
    password: VYI6ey6ZFT4bdCILeiz5hj4NrHM8iCvQ
    driver-class-name: org.postgresql.Driver
  jpa:
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
        format_sql: false
    open-in-view: false
  sql:
    init:
      mode: never

jwt:
  secret: VGhpc0lzQVNlY3VyZTI1NkJpdEtleUZvckRldlVzZU9ubHkxMjM0
  expiration: 86400000